<html>
<head>
    <title>Registration</title>
  <link href="/static/style1.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="form">
      <div class="title">SignUp page</div>
      <form action="/Signup" method="POST">

      <div class="input-container ic2">
        <input id="username" name="username" class="input" type="email" placeholder=" " required />
        <div class="cut cut-short"></div>
        <label for="username" class="placeholder">Email</label>
      </div>

      <div class="input-container ic2">
        <input id="password" name="password" class="input" type="password" placeholder=" "  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$" title="Password should contain minimum eight digit, including one letter, one special character, one uppercase and one digit" required>
        <div class="cut cut-short"></div>
        <label for="password" class="placeholder">Password</label>
      </div>
        <div class="input-container ic2">
        <input id="name" name="name" class="input" type="text" placeholder=" " required/>
        <div class="cut cut-short"></div>
        <label for="name" class="placeholder">name</label>
      </div>
        <div class="input-container ic2">
        <input id="number" name="contact" class="input" type="number" placeholder=" " pattern="[1-9]{1}[0-9]{8}" title ="please enter 10 digit number" required />
        <div class="cut cut-short"></div>
        <label for="number" class="placeholder">contact number</label>
      </div>


      <button type="submit" class="submit">submit</button>
        </form>
      </div>



<!--<H1 class="tip">Signin</H1>-->
<!--<div class="cont">-->

<!--<form method="post" action="/signin">-->
<!--    <label><span>Email</span><input type="email" name="username"/></label><br>-->
<!--    <label><span>Password</span><input type="password" name="password"/></label><br>-->

<!--    <button type="Submit" class="submit">Sign In</button>-->
<!--    <button type="reset" class="fb-btn">Cancel</button>-->


<!--</form>-->
<!--</div>-->
</body>
</html>
